body {
    font-family: Arial, sans-serif;
    margin: 10px; /* Убираем отступы по умолчанию */
    background-color: #f4f4f4;
    color: #333;
    position: relative; /* Для позиционирования аватарки */
}
 
.header {
    display: flex;
    justify-content: space-between; /* Раздвигает элементы по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    padding: 10px 20px; /* Отступы вокруг заголовка */
    /* background-color: #fff; Фоновый цвет для контраста */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Тень для заголовка */
}

.user-avatar {
    width: 50px; /* Ширина аватарки */
    height: 50px; /* Высота аватарки */
    border-radius: 50%; /* Круглая аватарка */
    border: 2px solid #fff; /* Обводка */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Тень */
}

h1 {
    text-align: center;
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.search {
    margin-bottom: 20px;
    text-align: center;
}

img {
    max-width: 100px;
    margin: 5px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #34495e;
}

a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.add-post-btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 20px 0;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.add-post-btn:hover {
    background-color: #34495e;
}
